html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body
{
    width: 100%;
    height: 99%;
    margin: 0px;
    padding: 0px;
    background-color: #FEFEFE;
}
.top_div
{
    width: 100%;
    float: left;
    background-color: #FEFEFE;
    text-align: center;
    position: fixed;
    _position: absolute;
    _top: expression(eval(documentElement.scrollTop));
    z-index: 1000;
    left: 0;
    top: 0;
}
.btn
{
    height: 30px;
    background-color: #1299FF;
    text-align: center;
    text-decoration: none;
    color: White;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    float: left;
}
.btn:hover
{
    background-color: #12AAFF;
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}
.btn_auto
{
    height: 100%;
    background-color: #1299FF;
    text-align: center;
    text-decoration: none;
    color: White;
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
}
.btn_auto:hover
{
    background-color: #12AAFF;
    text-decoration: none;
    text-align: center;
    color: #333;
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
}
.btn_link
{
    height: 20px;
    background-color: #1299FF;
    text-decoration: none;
    line-height: 30px;
    color: White;
    font-size: 15px;
    cursor: pointer;
    float: left;
    display: block;
    padding: 1px 5px 8px 10px;
}
.btn_link:hover
{
    background-color: #12AAFF;
    text-decoration: none;
    text-align: center;
    color: #333;
    cursor: pointer;
}
.pan
{
    width: 100%;
    max-height: 97%;
}
.pan_mini
{
    width: 100%;
    max-height: 87%;
}
.pan_data
{
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.lisr
{
    text-align: center;
    color: Red;
}
.data_text
{
    background-color: transparent;
    width: 80%;
    height: 100%;
    line-height: 100%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #999;
}
.table_cell
{
    width: 60%;
    text-align: left;
    border: 1px solid #999;
    border-collapse: collapse;
}
.table_cell tr
{
    width: 100%;
}
.table_cell tr td
{
    border: 1px solid #999;
    border-collapse: collapse;
}
.grid
{
    border-right: 1px solid #FFF;
    border-collapse: collapse;
}
.btn_tab
{
    height: 100%;
    line-height: 100%;
    background-color: transparent;
    color: White;
    padding: 5px 12px 5px 12px;
    border-style: none;
    float: left;
}
.btn_tab_pause
{
    height: 100%;
    line-height: 100%;
    background-color: #FEFEFE;
    color: Black;
    padding: 5px 12px 5px 12px;
    border-style: none;
    float: left;
}
.div_tab
{
    width: 100%;
    height: 5%;
    background-color: #1299FF;
    float: left;
    padding-bottom: 2px;
    padding-left: 2px;
}
.pan_tab
{
    width: 100%;
    height: 100%;
    float: left;
}
.tablist
{
    width: 100%;
    height: 95%;
    border: 0px;
    background-color: #FEFEFE;
    color: Black;
}
a 
{
    color:Blue;
    text-decoration:none;
}
a:hover
{
    color:Red;
    text-decoration:underline;
}
