<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.vbea.java21">
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
		tools:replace="android:allowBackup"
		android:name=".BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		android:hardwareAccelerated="true">
        <activity
            android:name=".MainActivity"
			android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
			android:name=".Main"
			android:launchMode="singleTask"
			android:screenOrientation="portrait">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
		</activity>
		<activity
			android:name=".Themes"
			android:label="@string/setheme"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ApiWord"
			android:label="@string/apidoc"
			android:windowSoftInputMode="adjustPan">
		</activity>
    	<activity
			android:name=".TextReplace"
			android:label="@string/textEditor"/>
		<activity
			android:name=".CodeEditor"
			android:screenOrientation="portrait"
			android:label="@string/codeEditor"
			android:windowSoftInputMode="stateHidden|adjustResize">
			<!--intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" />
				<data android:mimeType="*/*" />
            </intent-filter-->
		</activity>
		<activity
			android:name=".Comment"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"/>
		<activity
			android:name=".Knowledge"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".AndroidWeb"
			android:windowSoftInputMode="adjustPan">
		</activity>
		<activity
			android:name=".MusicList"
			android:label="@string/morelist"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".FileSelect"
			android:label="@string/fileselect"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".Machine"
			android:label="@string/actived"/>
		<activity
			android:name=".Modelist"
			android:label="@string/modelist"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".Setting"
			android:label="@string/settings"/>
		<activity
			android:name=".SetDrawerImage"
			android:label="@string/setimage"/>
		<activity
			android:name=".Help"
			android:label="@string/help"/>
		<activity
			android:name=".Login"
			android:label="@string/java_login"/>
		<activity
			android:name=".Sign"
			android:label="@string/java_sign"/>
		<activity
			android:name=".UserCentral"
			android:label="@string/userinfo"/>
		<activity
			android:name=".UserEdit"
			android:label="@string/useredit"/>
		<activity
			android:name=".More"
			android:label="@string/more"
			android:launchMode="singleTask"/>
		<activity
			android:name=".Piano"
			android:label="@string/piano"
			android:screenOrientation="landscape"/>
		<activity
			android:name=".MusicTest"
			android:label="@string/musictest"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize|stateHidden"/>
		<activity
			android:name=".MusicTrans"
			android:label="@string/musictrans"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".MyInbox"
			android:label="@string/myinbox"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".HtmlViewer"
			android:label="@string/browser"
			android:configChanges="orientation|screenSize"
			android:windowSoftInputMode="stateHidden|adjustResize">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="https" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/html" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="vbea" />
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" />
				<data android:mimeType="text/html" />
				<data android:pathPattern="*.htm" />
				<data android:pathPattern="*.html" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Bookmark"
			android:label="@string/bookmark"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".BrowserSet"
			android:label="@string/browserset"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"/>
		<activity
			android:name=".History"
			android:label="@string/history"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".Feedback"
			android:label="@string/feedback"/>
		<activity
			android:name=".VbeStudio"
			android:label="@string/aboutus"/>
		<activity
			android:name=".About"
			android:label="@string/about"/>
		<activity
			android:name=".ForgetPassword"
			android:label="@string/forgetpsd"/>
		<activity
			android:name=".ResetPassword"
			android:label="@string/resetpsd"/>
		<activity
			android:name=".QQLoginReg"
			android:label="@string/java_qqlogin"/>
		<activity
			android:name=".QQShareMessage"
			android:label="@string/qqmessage"/>
		<activity
			android:name=".BindMobile"
			android:label="@string/java_binding"/>
		<activity
			android:name=".WifiViews"
			android:label="@string/wifiview"/>
		<activity
			android:name=".IconPreview"
			android:theme="@style/AppTheme.Black"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".ImagePreview"
			android:theme="@style/AppTheme.Black"/>
		<activity
			android:name=".ShowWebImage"
			android:theme="@style/AppTheme.Black"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".Donate"
			android:label="@string/donate"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".Decord"
			android:label="@string/decord"
			android:screenOrientation="portrait"/>
		<activity
			android:name="cn.bmob.v3.update.UpdateDialogActivity"
			android:theme="@style/Theme.AppCompat.Light.Dialog"/>
		<activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
		<activity
			android:name="com.tencent.tauth.AuthActivity"
			android:noHistory="true"
			android:launchMode="singleTask" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="tencent1101326556" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.qq.e.ads.ADActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
		<activity
			android:name="com.qq.e.ads.PortraitADActivity"
			android:screenOrientation="portrait"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
		<activity
			android:name="com.qq.e.ads.LandscapeADActivity"
			android:screenOrientation="landscape"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
		<activity
			android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
			android:theme="@style/CropBlack"/>
		<service
			android:name=".audio.AudioService"
			android:exported="false"/>
		<service
			android:name="com.qq.e.comm.DownloadService"
			android:exported="false"/>
		<provider
			android:name="com.tencent.mid.api.MidProvider"
			android:authorities="com.vbea.java21.TENCENT.MID.V3"
			android:exported="true" >
		</provider>
		<provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xml_paths" />
        </provider>
		<meta-data
			android:name="TA_APPKEY"
			android:value="A1M46EZRJ7WI"/>
		<meta-data
			android:name="InstallChannel"
			android:value="${InstallChannel}"/>
		<meta-data
			android:name="android.max_aspect"
			android:value="2.2"/>
    </application>
</manifest>
