<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vbea.java21">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <!--uses-permission android:name="android.permission.READ_PHONE_STATE" /-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <!--uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".Main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Themes"
            android:label="@string/setheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ApiWord"
            android:label="@string/apidoc"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TextReplace"
            android:label="@string/textEditor" />
        <activity
            android:name=".ui.AdminActivity"
            android:label="@string/activity_admin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--
            intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="file" />
				<data android:mimeType="*/*" />
            </intent-filter
        -->
        <activity
            android:name=".ui.Comment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.Knowledge"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.AndroidWeb"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.MusicList"
            android:label="@string/morelist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FileSelect"
            android:label="@string/fileselect"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.Machine"
            android:label="@string/actived" />
        <activity
            android:name=".ui.Modelist"
            android:label="@string/modelist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setting"
            android:label="@string/settings" />
        <activity
            android:name=".ui.SetDrawerImage"
            android:label="@string/setimage" />
        <activity
            android:name=".ui.Help"
            android:label="@string/help" />
        <activity
            android:name=".ui.Login"
            android:label="@string/java_login" />
        <activity
            android:name=".ui.Sign"
            android:label="@string/java_sign" />
        <activity
            android:name=".ui.UserCentral"
            android:label="@string/userinfo" />
        <activity
            android:name=".ui.UserEdit"
            android:label="@string/useredit" />
        <activity
            android:name=".ui.More"
            android:label="@string/more"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.Piano"
            android:label="@string/piano"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MusicTest"
            android:label="@string/musictest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.MusicTrans"
            android:label="@string/musictrans"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyInbox"
            android:label="@string/myinbox"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HtmlViewer"
            android:configChanges="orientation|screenSize"
            android:label="@string/browser"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="vbea" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="localhost" android:scheme="file" />
                <data android:mimeType="text/html" />
                <data android:pathPattern="*.htm" />
                <data android:pathPattern="*.html" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MessageOOM"
            android:label="@string/laji_pinduoduo"
            android:icon="@mipmap/ic_pindd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="pinduoduo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="openapp.jdpingou" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Bookmark"
            android:label="@string/bookmark"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".ui.BrowserSet"
            android:label="@string/browserset"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.DownloadFile"
            android:label="@string/download_mng"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.DownloadBridge"
            android:label="@string/download_mng"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.History"
            android:label="@string/history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Feedback"
            android:label="@string/feedback" />
        <activity
            android:name=".ui.VbeStudio"
            android:label="@string/aboutus" />
        <activity
            android:name=".ui.About"
            android:label="@string/about" />
        <activity
            android:name=".ui.ForgetPassword"
            android:label="@string/forgetpsd" />
        <activity
            android:name=".ui.ResetPassword"
            android:label="@string/resetpsd" />
        <activity
            android:name=".ui.QQLoginReg"
            android:label="@string/java_qqlogin" />
        <activity
            android:name=".ui.QQShareMessage"
            android:label="@string/qqmessage" />
        <activity
            android:name=".ui.BindMobile"
            android:label="@string/java_binding" />
        <activity
            android:name=".ui.WifiViews"
            android:label="@string/wifiview" />
        <activity
            android:name=".ui.IconPreview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name=".ui.ImagePreview"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name=".ui.ShowWebImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Black" />
        <activity
            android:name=".ui.Donate"
            android:label="@string/donate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Decord"
            android:label="@string/decord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QRGenerateActivity"
            android:label="@string/activity_qr_creator"/>
        <activity
            android:name=".ui.QRScannerActivity"
            android:label="@string/activity_qr_scan">
        </activity>
        <activity
            android:name=".ui.QRResultActivity"
            android:label="@string/qr_result_activity" />
        <!--activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Material.Light.Dialog" /-->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1101326556" />
            </intent-filter>
        </activity>

        <!--activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" /-->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <!--meta-data
            android:name="TA_APPKEY"
            android:value="A1M46EZRJ7WI" />

        <meta-data
            android:name="InstallChannel"
            android:value="${MTA_CHANNEL}" /-->

        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
        <!--provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.vbea.java21.TENCENT.MID.V3"
            android:exported="true" /-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xml_paths" />
        </provider>
        <service
            android:name=".audio.AudioService"
            android:exported="false" />
        <service
            android:name=".ui.DownloadService"
            android:exported="false" />
    </application>

</manifest>